body{
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h3, h1{
    color: lightblue;
    font-weight: bold;
}
.mypropertis{
    color: yellow;
}
.gump{
    color: red;
}
hr{
    border-color: #094809;
}
ul li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid red;
}
li strong{
    background-color:aqua;
}